openapi: '3.0.3'
info:
  title: Cards of Keyforge
  version: '0.2'
  contact:
    email: dreuse@dreuse.dev | alfoltran@gmail.com
    name: dreuse | alfoltran
servers:
  - url: https://api.cardsofkeyforge.com

x-amazon-apigateway-request-validators:
  basic:
    validateRequestBody: true
    validateRequestParameters: true
  params-only:
    validateRequestBody: false
    validateRequestParameters: true

x-amazon-apigateway-request-validator: basic

paths:
  /cards:
    get:
      x-amazon-apigateway-integration:
        type: aws_proxy
        uri:
          Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetCards.Arn}/invocations
        connectionType: INTERNET
        passthroughBehavior: NEVER
        httpMethod: POST
      summary: Get all cards or filter through attributes.
      tags:
        - cards
      parameters:
        - in: header
          name: Accept-Language
          required: false
          description: the desired language for the cards defaults to pt
          schema:
            default: pt
            type: string
        - in: header
          name: traceparent
          required: false
          description: identifier for distributed tracing purposes
          schema:
            type: string
        - in: query
          name: set
          description: set short name
          required: false
          schema:
            type: string
        - in: query
          name: amber
          description: search cards with number of ambers equal or greater than
          required: false
          schema:
            type: integer
        - in: query
          name: name
          description: card's full or partial name
          required: false
          schema:
            type: string
        - in: query
          name: type
          description: card type
          required: false
          schema:
            type: string
        - in: query
          name: house
          description: card's house
          required: false
          schema:
            type: string
        - in: query
          name: anomaly
          description: if card is anomaly
          required: false
          schema:
            type: boolean
        - in: query
          name: maverick
          description: if card is maverick
          required: false
          schema:
            type: boolean
        - in: query
          name: rarity
          description: card rarity
          required: false
          schema:
            type: string
        - in: query
          name: power
          description: search cards with power equal or greater than some value
          required: false
          schema:
            type: integer
        - in: query
          name: armor
          description: search cards with armor equal or greater than some value
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
        '400':
          description: Bad request
  /decks/tts:
    get:
      x-amazon-apigateway-integration:
        type: aws_proxy
        uri:
          Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ImportTTSDeck.Arn}/invocations
        connectionType: INTERNET
        passthroughBehavior: NEVER
        httpMethod: POST
      summary: Returns a TTS Custom Deck from a Master Vault Deck.
      tags:
        - tts
        - deck
      parameters:
        - in: header
          name: Accept-Language
          required: false
          description: the desired language for the cards defaults to pt
          schema:
            default: pt
            type: string
        - in: query
          name: deckid
          description: the Master Vault deck UUID
          required: true
          schema:
            type: string
        - in: query
          name: sleeve
          description: the card's back colour
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
  /decks/random:
    get:
      x-amazon-apigateway-integration:
        type: aws_proxy
        uri:
          Fn::Sub: arn:${AWS::Partition}:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${RandomVaultDeck.Arn}/invocations
        connectionType: INTERNET
        passthroughBehavior: NEVER
        httpMethod: POST
      summary: Returns a random Vault Deck from the Master Vault.
      tags:
        - vault
        - deck
      parameters:
        - in: query
          name: set
          description: the Master Vault set
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request

components:
  schemas:
    Source:
      type: object
      properties:
        type:
          type: string
        version:
          type: string
        url:
          type: string
    Rules:
      type: object
      properties:
        title:
          type: string
        text:
          type: string
        source:
          $ref: '#/components/schemas/Source'
    House:
      type: object
      properties:
        id:
          type: string
        house:
          type: string
        normal:
          type: string
        zoom:
          type: string
    Card:
      type: object
      properties:
        card_title:
          type: string
        set:
          type: string
        amber:
          type: integer
        card_number:
          type: string
        card_text:
          type: string
        card_type:
          type: string
        expansion:
          type: integer
        flavor_text:
          type: string
        houses:
          type: array
          items:
            $ref: '#/components/schemas/House'
        is_anomaly:
          type: boolean
        is_maverick:
          type: boolean
        power:
          type: string
        armor:
          type: string
        rarity:
          type: string
        traits:
          type: string
        errata:
          type: string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/Rules'
    SetHouse:
      type: object
      properties:
        name:
          type: string
        icon:
          type: string
    Map:
      type: object
      additionalProperties:
        type: string
    Set:
      type: object
      properties:
        sequence:
          type: string
        longname:
          type: string
        code:
          type: integer
        developers:
          type: array
          items:
            type: string
        release:
          type: string
        new_count:
          type: integer
        name:
          type: string
        icon:
          type: string
        houses:
          type: array
          items:
            $ref: '#/components/schemas/SetHouse'
        langs:
          type: object
          items:
            $ref: '#/components/schemas/Map'
        designer:
          type: string
        card_count:
          type: integer





